/* GENERAL STYLING */
:root {
  font-family: "Oxygen", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  scroll-behavior: smooth;
  color-scheme: light dark;
  color: black;
}

body {
  font-family: "Oxygen", sans-serif;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  height: 100%;
  align-items: center;
  justify-content: center;
}

svg {
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
}

path {
  height: 100%;
}

/* Rules to overwrite Bootstrap */
.bg-dark {
  background-color: transparent !important;
}
/* Font */
.oxygen-bold {
  font-family: "Oxygen", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.landingTitle {
  font-family: "Oxygen", sans-serif;
  font-weight: 800;
  font-style: normal;
  margin-bottom: 30px;
  margin-top: 80px;
}

.landingTitle i {
  color: #ffa514;
  font-style: normal;
}
/* Headings */

h1 {
  font-family: "Oxygen", sans-serif;
  font-size: 3.2em;
  line-height: 1.1;
  margin-bottom: 60px;
}

h2 {
  font-size: 30px;
}

h4 {
  margin-bottom: 60px;
}

h5 {
  margin-bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
}

/* Nav bar - home button */
.navbar-ProgressBar-Container {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 6.5625em;
  display: flex;
  justify-content: center;
}

.navbarContainer .d-flex {
  padding-top: 1em;
  padding-left: 0.5em;
  width: 40%;
  }

.navbar-brand {
  display: flex;
}

nav {
  display: flex;
  justify-content: space-between;
  height: 5.0625em;
}

a.navbar-brand {
  margin: 0 20rem;
}

nav a {
  width: 25%;
  display: flex;
  justify-content: center;
  margin: 0 20rem;
}

nav a img {
  padding-top: .5rem;
}

.navbar img {
  padding-top: 2px;
  box-sizing: content-box;
}

nav a svg {
  padding-top: 1.3rem;
  width: 10%;
  padding-left: 300px;
}

.titleHeader {
  font-size: xx-large;
  padding-bottom: 1rem;
  margin-top: 18px;
}

.titleHeader i {
  color: #ffa514;
  font-style: normal;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

button {
  border: 1px solid black;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #ffffff;
  color: #000000;
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 5px 0px;
  width: 100%;
  border-radius: 50px;
}

.button {
  border-radius: 50px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #ffffff;
  color: #000000;
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 5px 0px;
  width: 100%;
}

.inputButton {
  border-radius: 50px;
  border: 1px solid transparent;
  padding: 0.6em 0em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #ffffff;
  color: #000000;
  cursor: pointer;
  transition: border-color 0.25s;
  text-align: center;
  margin: 5px 0px;
  width: 30rem;
  height: 24px;
  box-sizing: content-box;
}

select {
  text-align: center;
}

.checkbox-button {
  display: inline-block;
  padding: 0.6em 0em;
  font-size: 1em;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid transparent;
  color: #000;
  background-color: #ffffff;
  border-radius: 50px;
  margin: 5px 0px;
  width: 98.5%;
  transition: border-color 0.25s;
  font-weight: 500;
  font-family: inherit;
}

button:focus,
button:focus-visible {
  outline: none;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #ffffff;
  }
}

.userProfileHistory {
  display: inline;
  width: 100%;
}

.userHistory {
  text-align: left;
}

.userHistoryByDate {
  padding: 0 2rem;
  border: 1px solid transparent;
  border-color: black;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
}

.userHistoryByDate h4{
  margin-bottom: 0;
  text-align: left;;
}

.userHistoryByDateHeader {
  display: flex;
  align-items: center;
}

.userHistoryByDateHeader svg {
  margin-left: auto;
  padding-top: 0.5rem;
  width: 100vw;
  position: relative;
}

.userHistorySelections {
  display: flex;
}

.userHistorySelections svg {
  padding: 0.5rem 0 0 0rem;
  position: relative;
}

.userHistoryGeneratedGifts {
  text-align: left;
}

.userHistoryGeneratedGifts a {
  color: #9e9EFF;
}

.details {
  color: #9e9EFF;
  font-style: normal;
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: black;
}

#more-arrows {
	width: 45px;
  height: 35px;
  
  &:hover {
    
    polygon {
      fill: black;
      transition: all .2s ease-out;

      &.arrow-bottom {
        transform: translateY(-18px);
      }

      &.arrow-top {
        transform: translateY(18px);
      }
      
    }
  
  }
  
}

polygon {
  fill: black;
  transition: all .2s ease-out;
    
  &.arrow-middle {
	  opacity: 0.75;
	}

	&.arrow-top {
	  opacity: 0.5
	}
	 
}

.userProfileContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 4rem;
  height: 100%;
  margin-bottom: 100px;
  text-align: center;
}

.userProfilePage {
  background: rgb(177,223,238);
  background: radial-gradient(circle, rgba(106,181,205,1) 63%, rgba(13,13,57,1) 100%);
  width: 100%;
  height: 100%;
}

.userProfileContainer h1 {
  margin-bottom: 10px;
}

a:not([href]):not([tabindex]){
  color: blue;
  font-size: 13px;
  text-decoration: underline;
}

a:not([href]):not([tabindex]):hover {
  color: blue;
  cursor: pointer;
}

.googleIcon {
  margin-right: 10px;
}

hr {
  border: 1px solid black;
  display: inline-flex;
  align-content: center;
  width: 40%;
}

.forgotPassword {
  text-align: center;
}

/* DESKTOP */
@media only screen and (max-width: 2560px) {
  .container {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: auto;
    justify-items: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    padding: 0px;
    background-color: whitesmoke;
    margin: 0;
    height: 550px;
  }

  .userProfileContainer {
    padding-top: 12rem;
  }

  svg {
    width: 100vw;
  }

  .button {
    border-radius: 50px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #ffffff;
    color: #000000;
    cursor: pointer;
    transition: border-color 0.25s;
    margin: 5px 0px;
    width: 30rem;
  }

  .checkbox-button {
    display: inline-block;
    padding: 0.6em 0em;
    font-size: 1em;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid transparent;
    color: #000;
    background-color: #ffffff;
    border-radius: 50px;
    margin: 5px 0px;
    width: 30rem;
    transition: border-color 0.25s;
    font-weight: 500;
    font-family: inherit;
  }

  .individual-responses-container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    width: 50%;
    height: 275px;
    border: 1px solid #000000;
    margin: 2px 1px;
    font-size: 14px;
    border-radius: 5px;
    color: #000;
    background-color: hsla(240, 9%, 81%, 0.6);
    position: relative;
  }

  .individual-responses-container button {
    padding: 15px 10px;
    width: 70%;
    position: absolute;
    left: 101px;
    bottom: 20px;
  }

  .individual-responses-container h2 {
    height: auto;
    margin-top: 5px;
    margin-bottom: 10px;
  }

  .individual-responses-container p {
    height: auto;
    margin: 25px 0px;
  }

  .blue-button {
    background-color: #0000ff;
    color: #ffffff;
  }

  .paramButtonContainer {
    width: 100%;
  }

  .paramButtonActive{
    border: 3px solid #ffa514;
    opacity: 25%;
    background-color: #ffffff;
  }

  #main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: rgb(253, 239, 221);
    /* Version 3 background styling */
    /* background: rgb(177,223,238);
    background: radial-gradient(circle, rgba(106,181,205,1) 43%, rgba(13,13,57,1) 100%); */
    height: 100%;
    min-height: 100vh;
    z-index: 3;
  }

  .backButton-nextButton-container {
    display: flex;
    margin-bottom: 20px;
  }

  .backButton-div {
    width: 45%;
    margin: 10px;
  }
  
  .nextButton-div {
    width: 45%;
    margin: 15px 10px;
  }

  .regenButton-div {
    width: 45%;
    margin: 10px;
    position: fixed;
    bottom: .5rem;
  }

  .opacity1{
    opacity: 25%;
  }

  .opacity2{
    opacity: 100%;
  }

  p {
    width: 30rem;
    text-align: center;
  }

  .prompt-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .prompt-div p:last-child {
    margin: 0;
  }
  .prompt-div p:first-child {
    margin-bottom: 0;
  }

  .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }

  .footer button {
    margin: 0;
    border: 1px solid gray;
    border-radius: 50px;
  }

  .progress {
    position: fixed;
    position: fixed;
    bottom: 0px;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0;
  }

  .landingDescription {
    color: black;
    text-align: left;
    margin-top: 30px;
    margin-bottom: 0px;
  }

  .landingDescription i {
    color: #ffa514;
    font-style: normal;
  }

  .landingButton{
    margin-bottom: 10px;
    margin-top: 15px;
    width: 22rem;
    text-align: left;
    border-radius: 50px;
    font-size: larger;
    padding-top: 10px;
    padding-bottom: 13px;
  }

  .landingButton img {
    margin-left: 150px;
    vertical-align: bottom;
  }

  .version {
    opacity: 35%;
    position: fixed;
    bottom: 0px;
  }

  .generateButton {
    margin-top: 50px;
    width: 30rem;
  }

  input[type="checkbox"] {
    display: none;
  }

  /* Style the custom checkbox button when checked */
  input[type="checkbox"]:checked + label.checkbox-button {
    border: 3px solid #ffa514;
    opacity: 100%;
  }

  .productInfo {
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-top: 10px;
    padding: 0 15px;
  }

  .productInfo p {
    width: 100%;
  }

  .productImage {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
  }

  #carouselExampleIndicators {
    width: 100%;
  }

  .carousel-control-next-icon {
    background-image: url("./images/rightArrow.png");
    margin-top: 265px;
  }

  .carousel-control-prev-icon {
    background-image: url("./images/leftArrow.png");
    margin-top: 265px;
  }

  .carousel-indicators li {
    background-color: black;
    border-radius: 20px;
    width: 12px;
    height: 12px;
    margin-bottom: 10px;
  }

  .carousel-indicators .active {
    background-color: #ffa514;
  }

  .carousel-item p:last-child{
    font-size: x-small;
    padding: 0 35px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .amazonAffiliateText {
    font-size: 16px;
  }

  .buyProduct {
    margin: 40px 15px 0 15px;
    width: 90%;
    position: relative;
    top: 0px;
    color: white;
    background-color: #28A745;
  }

  .popup-content {
    margin: 30px auto auto auto;
    background: rgba(255, 255, 255, 0.632);
    width: 30%;
    padding: 5px 20px;
    left: 35% !important;
    text-align: center;
  }

  form {
    display: flex;
    flex-direction: column;
  }
}

/* MOBILE */
@media only screen and (max-width: 475px) {
  .container {
    display: inline-flex;
    flex-wrap: wrap;
    width: 90%;
    height: 480px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 0px;
    background-color: whitesmoke;
  }

  .userProfileContainer {
    padding-top: 8rem;
  }

  svg {
    height: 13vh;
  }

  .paramCompContainer {
    width: 100%;
    z-index: 4;
  }

  .button {
    width: 100%;
  }

  .checkbox-button {
    width: 98.5%;
  }

  .inputButton {
    width: 100%;
  }

  .productInfo {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .productImage {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
  }

  .buyProduct {
    margin: 60px 15px 0 15px;
    width: 90%;
    position: relative;
    top: 0px;
    color: white;
    background-color: #28A745;
  }

  .carousel-control-next-icon {
    background-image: url("./images/rightArrow.png");
    margin-top: 245px;
  }

  .carousel-control-prev-icon {
    background-image: url("./images/leftArrow.png");
    margin-top: 245px;
  }

  .carousel-indicators li {
    background-color: black;
    border-radius: 20px;
    width: 12px;
    height: 12px;
    margin-bottom: 10px;
  }

  .carousel-indicators .active {
    background-color: #ffa514;
  }

  .carousel-item p {
    margin-top: 10px;
    font-size: small;
    padding: 0 15px;
    margin-bottom: 0px;
  }

  .carousel-item h3 {
    padding: 0 15px;
    margin-top: 10px;
    margin-bottom: 0px;
  }

  p {
    width: auto;
  }

  .individual-responses-container h2 {
    height: auto;
    margin-top: 5px;
    margin-bottom: 10px;
  }

  .individual-responses-container p {
    height: auto;
    margin: 25px 0px;
  }

  .blue-button {
    background-color: #0000ff;
    color: #ffffff;
  }

  .paramButtonContainer {
    width: 100%;
  }

  .paramButtonActive{
    border: 3px solid #ffa514;
    opacity: 100%;
  }

  #main-container{
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0px;
  }

  .backButton-nextButton-container {
    display: flex;
    margin-bottom: 20px;
  }

  .backButton-div {
    width: 45%;
    margin: 10px;
  }
  
  .nextButton-div {
    width: 45%;
    margin: 15px 10px;
  }

  .regenButton-div {
    width: 98%;
    margin: 10px;
    position: fixed;
    bottom: .5rem;
  }

  .opacity1{
    opacity: 25%;
  }

  .opacity2{
    opacity: 100%;
  }

  .prompt-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .prompt-div p:last-child {
    margin: 0;
  }
  .prompt-div p:first-child {
    margin-bottom: 0;
  }

  .footer {
    position: fixed;
    bottom: 10px;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .footer button {
    margin: 0;
    border: 1px solid gray;
    border-radius: 50px;
  }

  .progress {
    position: fixed;
    bottom: 0px;
    width: 100%;
    border-radius: 0;
  }

  .landingDescription {
    color: black;
    text-align: left;
    margin-top: 30px;
    margin-bottom: 0px;
  }

  .landingDescription h2 {
    margin-bottom: 5px;
    margin-top: 5px;
  }

  .landingButton{
    margin-bottom: 10px;
    border-radius: 50px;
    width: 80vw;
    box-sizing: content-box;
  }

  .landingButton img {
    margin-left: 160px;
    vertical-align: bottom;
  }

  .version {
    opacity: 35%;
    position: fixed;
    bottom: 0px;
  }

  .openaiDescrip {
    width: 80%;
  }

  .generateButton {
    margin-top: 20px;
    width: 80%;
  }

  input[type="checkbox"] {
    display: none;
  }

  /* Style the custom checkbox button when checked */
  input[type="checkbox"]:checked + label.checkbox-button {
    border: 3px solid #ffa514;
    opacity: 100%;
  }

  .userHistoryByDate {
    padding: 0 0.5rem 0 1rem;
  }

  a.navbar-brand {
    margin: 0;
  }
  
  nav a {
    margin: 0;
  }

  .navbar-ProgressBar-Container {
    display: block;
  }

  .popup-content {
    margin: 30px auto auto auto;
    background: rgba(255, 255, 255, 0.632);
    width: 50%;
    padding: 5px 20px;
    left: 23.5% !important;
    text-align: center;
  }
  
  .popup-arrow {
    color: rgb(255, 255, 255);
  }
  [role='tooltip'].popup-content {
    width: 200px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
  }
  
  .popup-overlay {
    background: rgba(0, 0, 0, 0.5);
  }
  [data-popup='tooltip'].popup-overlay {
    background: transparent;
  }
}

.infoIconImg {
  position: fixed;
  top: 15px;
  right: 20px;
}